@import url("https://fonts.googleapis.com/css?family=Roboto:100&display=swap");

:root{
  --greenish: rgb(0, 125, 0);
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-image: url('../images/shiplap.jpg');
  background: white;
  background-attachment: fixed;
  overflow-x: hidden
}

body, #___gatsby, #gatsby-focus-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/shiplap.jpg');
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 50vh;
  background-image: url("../images/sophie_header.png");
  background-position: left center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 5px 10px gray;
}

.App-Link {
  color: var(--greenish);
}

.App-Link:visited {
  color: var(--greenish);
}

.App-Link:hover {
  background: #EEE;
}

.blogCardLink, .blogCardLink:visited, .blogCardLink:active, .homeLink, .homeLink:visited, .homeCardLink:active {
  color: black;
}

#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-title {
  letter-spacing: .5em;
  text-transform: uppercase;
  color: black;
  font-weight: normal;
  border-bottom: 1px solid black;
}

#hero-subtitle {
  font-size: calc(10px + 1vmin);
  font-style: italic;
  letter-spacing: .3em;
  text-transform: uppercase;
  color: var(--greenish);
  font-weight: normal;
}

.slightlyBigger {
  font-size: calc(10px + 4vmin);
}

#content {
  width: 100%;
  height: 100%;
  border: 1px solid pink;
  margin-top: 50px;
}

.sophieSpinner {
  width: 170px !important;
}

.sophieSpinner > div {
  width: 50px !important;
  height: 50px !important;
}

#spinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  width: 100vw;
  background: white;
  box-shadow: 5px 0px 10px gray;
  text-align: center;
}

.cardTitle {
  margin: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
}
.cardTitle:visited {
  margin: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
}

.cardDate {
  margin-top: 0px;
  font-style: italic;
  color: var(--greenish);
}

@media only screen and (min-width: 901px) {
  .App-header {
    font-size: calc(10px + 3vmin);
  }

  #hero-text {
    margin-right: 10%;
    align-self: flex-end;
    text-align: center;
  }

  #nav-bars {
    display: none;
  }

  .App-navigation {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    color: var(--greenish);
    background-color: white;
    z-index: -1;
  }

  .App-Link {
    height: 100%;
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 10px gray;
  }

  main {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #login {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }

  #login > * {
    margin-left: 10px;
    color: black;
    font-size: 1rem;
    font-weight: lighter;
  }

  #login > .logButton {
    background-color: inherit;
    border: 0px;
    color: var(--greenish);
    font-weight: thinner;
    /* font-style: italic; */
  }

  #loginNavBar {
    display: none;
  }

  #indexContent {
    background: white;
    box-shadow: 5px 5px 10px gray;
    margin: 20px;
    padding: 0 50px 50px;
  }

  .blogCard {
    min-height:200px;
    display: flex;
    margin-bottom: 10px;
    background: white;
    box-shadow: 5px 5px 10px gray;
  }

  .blogCardData {
    width: 80%;
    padding: 20px;
  }

  .blogCardData > .App-Link {
    height: inherit;
    width: auto;
    padding: 15px;
    margin: 10px;
  }

  .cardImg {
    width: 200px;
    height: 100%;
    filter: grayscale(100%);
  }



  .pageTitle {
    width: calc(100% - 40px);
    text-align: center;
    font-size: 3vw;
    margin: 20px;
    align-self: center;
    color: var(--greenish);
    letter-spacing: .3em;
    text-shadow: 5px 5px 10px gray;
  }

  #hamburger {
    display: none;
  }

  .socialIcon {
    width: 3vw;
  }

  .imageWrapper {
    width: 200px;
  }

  .login1 {
    display: none;
  }

  .videoImage {
    object-fit : cover;
    max-width : 200px;
    min-height : 200px;
    filter : brightness(155%) grayscale(90%) invert(15%);
  }
}

@media only screen and (max-width: 900px) {
  .App-header {
    font-size: calc(10px + 2vmin);
  }

  #hero-text {
    align-self: center;
    align-items: center;
  }


  #nav-bars {
    color: var(--greenish);
    font-size: 1.5em;
    position: absolute;
    top: 20px;
    left: 45px;
    z-index: 5;
  }

  .App-navigation {
    width: auto;
    height: 100%;
    position: sticky;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    background-color: white;
    color: var(--greenish);
    z-index: 100;
  }

  #nav1 {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 5px 5px gray;
  }

  .App-Link {
    margin: 30px;
    display: none;
  }

  #hamburger {
    margin: 30px;
    color: var(--greenish);
  }

  #hamburger:visited {
    color: var(--greenish);
  }

  #loginNavBar {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }

  #loginNavBar > * {
    margin-left: 10px;
    color: black;
    font-size: 1rem;
    font-weight: lighter;
  }

  #loginNavBar > .logButton {
    background-color: inherit;
    border: 0px;
    color: var(--greenish);
    font-weight: lighter;
    font-style: italic;
  }

  #login {
    display: none;
  }

  .socialIcon {
    width: 10vw;
  }

  .pageTitle {
    width: 100%;
    text-align: center;
    font-size: 10vw;
    margin: 20px;
    align-self: center;
    color: var(--greenish);
    letter-spacing: .3em;
    text-shadow: 5px 5px 10px gray;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  #indexContent {
    padding: 20px;
  }

  .imageWrapper {
    width: 100%;
    height: 200px;
  }

  .blogCardData {
    padding: 10px;
  }

  .blogCard {
    background: white;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 10px gray;
    box-shadow: 5px 5px 10px gray;
  }

  .login1 {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .logButton {
    border : 0;
    background :none;
    color : var(--greenish);
    font-size : 1em;
    font-family : 'Roboto', sans-serif;
    font-weight: bold;
  }

  .videoImage {
    object-fit : cover;
    width : 100%;
    min-height : 200px;
    max-height: 200px;
    filter : brightness(155%) grayscale(90%) invert(15%);
  }

  .iframe-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }

}
